header {
  color: white;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1600px;
  flex-grow: 1;
}

.header-logo {
  font-size: 24px;
  font-weight: normal;
  padding: 16px;
}

.header-logo:hover {
  cursor: pointer;
}

.header-options {
  font-size: 14px;
}

.header-right,
.header-left {
  display: flex;
  align-items: center;
}

.button-div {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.menu-button-dash {
  width: 16px;
  height: 2px;
  background-color: white;
}

.menu-button {
  border-radius: 50%;
  padding: 8px;
  height: 32px;
}

.menu-button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  transition: all 500ms;
  visibility: hidden;
  position: absolute;
}

#signup {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

#signup:hover {
  background-color: rgba(244, 244, 244, 0.68);
}

#login {
  border-radius: 20px;
  padding: 10px;
}

.en-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header-options {
  height: fit-content;
  padding: 8px;
  border-radius: 20px;
  transition: background-color 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-options:hover {
  background-color: rgba(204, 194, 194, 0.29);
}

/* .menu-button:hover {
  position: relative;
}

.menu-button:hover div {
  position: absolute;
} */

.l,
.r {
  transition: all 500ms;
}

@media (max-width: 1150px) {
  .menu-button-container {
    visibility: visible;
    position: static;
  }

  .header-options {
    visibility: hidden;
    position: absolute;
  }
}
