.app-container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: lightgray;
}

.app-size-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  width: 1600px;
}

.app > img {
  width: 150px;
  height: 150px;
}

.app-header {
  font-size: 32px;
  font-weight: 600;
}

.app-card-container {
  display: flex;
  justify-content: space-between;
}

.app {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 2%;

  border: grey 0.5px solid;
  gap: 16px;
  transition: all 500ms;
  overflow: hidden;
  width: 600px;
}

.app-text {
  font-size: 22px;
  font-weight: 600;
}

.app-arrow {
  height: 20px;
}

.arrow-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.app:hover {
  cursor: pointer;
}

.app-arrow {
  transition: all 400ms;
}

.app:hover .arrow-text .app-arrow {
  transform: translateX(20px);
}

@media (max-width: 1150px) {
  .app-container {
    padding-left: 32px;
  }
}
