.signup-container{
  height: 100vh;
  background-image: url('../assets/driving-background.jpg');
  box-sizing: border-box;
  background-size: cover;
  padding-top: 64px;
}

.main-part{
  /* top: 64px;
  left: 100px; */
  margin-left: 100px;
  background-color: white;
  height: 75%;
  width: fit-content;
  padding: 16px
}

.main-top > button {
  color:black;
  width: 48px;
}

.main-top{
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
  width: 100%;
  box-sizing: border-box;

}

