.sign-up-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sign-up-size-container {
  display: flex;
  max-width: 1600px;
  justify-content: space-between;
  padding: 2%;
  gap: 32px;
  flex-grow: 1;
}

.sign-up-size-container > div {
  max-width: 790px;
  text-align: left;
  font-size: 32px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-grow: 100;
}

.sign-up-size-container > div:hover {
  cursor: pointer;
}

.sign-ride,
.sign-drive {
  position: relative;
  transition: all 500ms;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.arrow-hide {
  width: 28px;
  height: 32px;
  background-color: white;
}

.sign-icon-l {
}

.ah-sign-icon-l {
  position: absolute;
  z-index: -100;
}
.sign-drive:hover .arrow-container .arrow-hide .ah-sign-icon-l {
  transform: translate(28px);
  transition: all 400ms;
}

.sign-drive:hover .arrow-container .sign-icon-l {
  transform: translate(32px);
  transition: all 200ms;
}

.ah-sign-icon-r {
  position: absolute;
  z-index: -100;
}
.sign-ride:hover .arrow-container .arrow-hide .ah-sign-icon-r {
  transform: translate(28px);
  transition: all 400ms;
}

.sign-ride:hover .arrow-container .sign-icon-r {
  transform: translate(32px);
  transition: all 200ms;
}

@media (max-width: 1290px) {
  .sign-up-size-container {
    flex-direction: column;
  }

  .sign-up-size-container > div {
    max-width: none;
    max-width: 100%;
    font-size: 2rem;
  }
}
