.signup-container {
  height: 700px;
  background-image: url("../assets/driving-background.jpg");
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 64px;
  width: 100%;
  background-position: center;
}

.main-part {
  margin-left: 10%;
  background-color: white;
  height: 85%;
  width: 600px;
}

.reactive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  height: 120px;
  box-sizing: border-box;
  position: relative;
}

.reactive-container:hover .main-option {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  color: grey;
}

.reactive-container > button {
  margin-top: 20px;
  color: black;
}

.reactive-container:hover {
  cursor: pointer;
}

#slider {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  background-color: black;
  width: 70px;
  height: 3px;
  bottom: 0;
}

#icon {
  width: 25px;
  height: 25px;
}

.main-top > button {
  color: black;
  width: 48px;
}

.main-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 48px;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

.main-option {
  width: 70px;
}

.interactive-container {
  width: 85%;
  padding-left: 50px;
}

.main-content {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 32px;
}

.sub-content {
  font-weight: 300;
}

.bottom-container {
  display: flex;
  flex-direction: column;
}

.main-button {
  color: white;
  background-color: black;
  font-size: 16px;
  padding: 16px;
  border-radius: 8px;
  margin-top: 32px;
  width: fit-content;
}

.learn {
  font-weight: 300;
  margin-top: 32px;
  border-bottom: 1px lightgray solid;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: fit-content;
  padding-bottom: 5px;
}

.learn:hover {
  cursor: pointer;
  border-bottom: 1px black solid;
}

.responsive-img {
  position: absolute;
  width: 400px;
  visibility: hidden;
}

@media (max-width: 1150px) {
  .signup-container {
    padding-top: 0;
    height: 100vh;
    background-size: cover;
  }

  .responsive-img {
    position: relative;
    visibility: visible;
    width: 100%;
  }

  .main-part {
    margin: 0;
    width: 100%;
    height: max-content;
  }

  .main-top {
    margin-left: 16px;
    justify-content: flex-start;
    gap: 32px;
  }

  .interactive-container {
    padding-left: 32px;
    padding-bottom: 32px;
  }

  .main-content {
    font-size: 40px;
  }

  .bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .learn {
  }
}
