.sign-up-container {
  padding: 32px;
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
}

.sign-up-container > div {
  width: 550px;
  text-align: left;
  font-size: 32px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  min-width: 44%;
}

.sign-up-container > div:hover {
  cursor: pointer;
}

.sign-up-container > div:hover .sign-icon-r {
  transform: translateX(10%);
  transition: all 300ms ease-in-out;
}

.sign-up-container > div:hover .sign-icon-l {
  transform: translateX();
  transition: all 300ms ease-in-out;
}

.inside-icon {
  position: absolute;
  visibility: hidden;
  left: 50px;
}

.sign-ride,
.sign-drive {
  position: relative;
}

.hide {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: white;
  z-index: 100;
  right: 30px;
}

.hide-l {
  position: absolute;
  visibility: hidden;
  background-color: white;
  z-index: 100;
  width: 30%;
  height: 50px;
  right: 30px;
}

@media (max-width: 1150px) {
  .sign-up-container {
    padding-left: 32px;
  }
}
