.uber-one-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.uber-one-size-container {
  display: flex;
  justify-content: space-between;
  padding: 2%;

  transition: all 500ms ease-in-out;
  max-width: 1600px;
}

.uber-one-text-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 30%;
}

.uber-one-header {
  font-size: 32px;
  font-weight: 600;
}

.uber-one-button {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 16px;
  padding: 16px 20px 16px 20px;

  border-radius: 8px;
  width: fit-content;
  display: grid;
  place-items: center;
}

.uber-one-size-container > img {
  height: 380px;
  width: 720px;
  object-fit: cover;
  margin-left: 220px;
}

.uber-one-sub-one,
.uber-one-sub-two {
  font-weight: 300;
}

@media (max-width: 1410px) {
  .uber-one-container {
    width: 100%;
  }

  .uber-one-size-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1;
  }

  .uber-one-text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  .uber-one-size-container > img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    margin-left: 0;
  }
}
